<div class="skeleton-member-row">
    <SkeletonBox Width="30px" Height="30px" BorderRadius="50%" />
    <div class="skeleton-member-row-content">
        <SkeletonBox Width="75%" Height="11px" />
        <SkeletonBox Width="45%" Height="9px" CssClass="skeleton-mt-3" />
    </div>
</div>
