<div class="skeleton-friend-row">
    <SkeletonBox Width="34px" Height="34px" BorderRadius="50%" />
    <div class="skeleton-friend-row-content">
        <SkeletonBox Width="60%" Height="12px" />
        <SkeletonBox Width="35%" Height="10px" CssClass="skeleton-mt-4" />
    </div>
</div>
