<div class="skeleton-team-row">
    <SkeletonBox Width="32px" Height="32px" BorderRadius="10px" />
    <div class="skeleton-team-row-content">
        <SkeletonBox Width="70%" Height="12px" />
        <SkeletonBox Width="40%" Height="10px" CssClass="skeleton-mt-4" />
    </div>
</div>
